<nav class="navbar navbar-expand-lg">
  <div class="container p-3 ">
    <a class="navbar-brand fs-2 text-white fw-bold " routerLink="home" >START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 active">
        <li class="nav-item ">
          <a class="nav-link text-white fw-bold fs-6" routerLink="about" routerLinkActive="bl7 rounded">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-6" routerLink="portfolio" routerLinkActive="bl7 rounded">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-bold fs-6" routerLink="contact" routerLinkActive="bl7 rounded">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>