<div>
    <div class="container ">
        <h2 class="m-4 text-center fs-1 fw-bold">CONTACT SECTION</h2>
        <div class="m-3 d-flex justify-content-center align-items-center">
            <div class="line "></div>
            <i class="fa-solid fa-star"></i>
            <div class="line me-3 "></div>
        </div>
    </div>

    <form class="d-flex justify-content-center m-5 p-2">
        <div class="w-50">
        <div class="mb-3">
          <input placeholder="userName" type="text" class="form-control border-0 border-bottom py-3 " id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input placeholder="userAge" type="text" class="form-control border-0 border-bottom py-3" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input placeholder="userEmail" type="email" class="form-control border-0 border-bottom py-3" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input placeholder="userPassword" type="password" class="form-control border-0 border-bottom py-3" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn text-white mt-3">send message</button>
    </div>
  </form>
</div>

