@if(isopen){
    <div class="lay position-fixed top-0 bottom-0 start-0 end-0 d-flex justify-content-center align-items-center z-1">
        <div class="photo w-50 position-relative m-4">
            <img  src="images/port2.png" class="rounded w-100">
            <div  class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
        </div>
}


<div>
    <div class="container">
        <h2 class="m-4 text-center fs-1 fw-bold">PORTFOLIO COMPONENT</h2>
        <div class="m-3 d-flex justify-content-center align-items-center">
            <div class="line "></div>
            <i class="fa-solid fa-star"></i>
            <div class="line me-3 "></div>
        </div>
    </div>
    <div class="container text-center d-flex justify-content-center">
        <div (click)="togglelay()" class=" photo position-relative m-4">
            <img src="images/poert1.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
        <div (click)="togglelay()" class="photo position-relative m-4">
            <img src="images/port2.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
        <div (click)="togglelay()" class="photo position-relative m-4">
            <img src="images/port3.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
    </div>
    <div class="container text-center d-flex justify-content-center">
        <div (click)="togglelay()" class="photo position-relative m-4">
            <img src="images/poert1.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
        <div (click)="togglelay()" class="photo position-relative  m-4">
            <img src="images/port2.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
        <div (click)="togglelay()" class="photo position-relative  m-4">
            <img src="images/port3.png" class="rounded w-100">
            <div class="overlay  position-absolute top-0 w-100 h-100  d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white fw-bold "></i>
            </div>
        </div>
    </div>
</div>
